/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #5632a8;
    background-color: #f3d148;
  }
  h1{ 
    font-family: cursive;
    text-align: center;
    font-size: 200%;
  }
  #content{
    margin: 10px;
    padding: 10px;
    background-color: #f348af
  }
  .filestructure{ 
    width: fit-content;
  }
    